@page "/"
@using System.ComponentModel.DataAnnotations
@using Portail_OptiVille.Data.Exceptions
@using Portail_OptiVille.Data.Models
@using Microsoft.AspNetCore.Components.Forms
@using System.Security.Cryptography;
@using System.Text;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Portail_OptiVille.Data.Utilities
@using System.Text.RegularExpressions
@using Shared.LoginLayout
@using System.Linq.Expressions
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager
@inject A2024420517riGr1Eq6Context _context
@inject IJSRuntime JsRuntime
@inject ICookie cookie
@inject JwtTokenGenerator tokenGenerator

@layout EmptyLayout

@code {
    public const int COOKIE_EXPIRATION = 3; // 3 Hours
}

<PageTitle>Connexion Employe</PageTitle>
<EditForm EditContext="@editContext">
    <DataAnnotationsValidator />
    <div class="form-group container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 col-xl-6 col-lg-11 col-12 col-sm-12 py-2">
                <div class="card">
                    <div class="card-header py-2 bg-vertFonce">
                        <h3 class="py-2 p-0 my-0 text-white titre-bold">Identification</h3>
                    </div>
                    <div class="card-body border-vertFonce py-1">
                        <div class="col-xl-8 col-lg-8 col-12 col-sm-12 py-2">
                            <label class="vertFonce texte-bold" for="Courriel">Courriel <i class="bi bi-braces-asterisk text-danger"></i></label>
                            <input type="text" class="form-control @GetInputClass(() => logInModel.Username) input-vert texte-light" id="Courriel" @bind="logInModel.Username" />
                            @((MarkupString)GetValidationHTML(() => logInModel.Username))
                        </div>
                        <div class="col-xl-8 col-lg-8 col-12 col-sm-12 py-2">
                            <label class="vertFonce texte-bold" for="MotDePasse">Mot de passe <i class="bi bi-braces-asterisk text-danger"></i></label>
                            <input type="password" class="form-control @GetInputClass(() => logInModel.MotDePasse) input-vert texte-light" id="MotDePasse" @bind="logInModel.MotDePasse"  />
                            @((MarkupString)GetValidationHTML(() => logInModel.MotDePasse))
                        </div>
                    </div>
                    <div class="card-footer py-2 bg-vertFonce d-flex justify-content-center">
                        <button type="button" @onclick="ConnectUser" id="btnVert" class="btn bg-vert texte-bold text-white" style="width: 200px;">Connexion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

<style>
    .valid {
        outline: 1px solid #26b050;
    }
</style>

@code {
    private LogInModel logInModel = new LogInModel();
    private bool isSubmit = false;
    private bool isValidForm = false;
     private ValidationMessageStore validationMessageStore;
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(logInModel);
        editContext.OnValidationStateChanged += (sender, args) => StateHasChanged();
        validationMessageStore = new ValidationMessageStore(editContext);
    }

    public bool TriggerValidation() 
    {
        validationMessageStore.Clear();
        isSubmit = true;
        isValidForm = editContext.Validate();
        return isValidForm;
    }

    private string GetInputClass<TField> (Expression<Func<TField>> fieldExpression)
    {
        if (!isSubmit || isValidForm) {
            return "";
        }
        var fieldIdentifier = FieldIdentifier.Create(fieldExpression);
        var isValid = !editContext.GetValidationMessages(fieldIdentifier).Any();
        if (fieldIdentifier.FieldName.Equals("NumeroLicence")) {
            return isValid ? "" : "invalid";
        }

        return isValid ? "valid" : "invalid";
    }

    private string GetValidationHTML<TField> (Expression<Func<TField>> fieldExpression) 
    {
        if (!isSubmit || isValidForm) {
            return "";
        }
        var fieldIdentifier = FieldIdentifier.Create(fieldExpression);
        var isValid = !editContext.GetValidationMessages(fieldIdentifier).Any();
        if (fieldIdentifier.FieldName.Equals("NumeroLicence")) {
            return isValid ? "" : "<span class=\"input-group-text text-danger\"><i class=\"bi bi-x-circle me-2\"></i><span class=\"texte-validation\">" + editContext.GetValidationMessages(fieldIdentifier).FirstOrDefault() + "</span></span>";
        }

        return isValid ? "<span class=\"input-group-text text-success\"><i class=\"bi bi-check-circle me-2\"></i><span class=\"texte-validation\">Valide</span></span>" 
                       : "<span class=\"input-group-text text-danger\"><i class=\"bi bi-x-circle me-2\"></i><span class=\"texte-validation\">" + editContext.GetValidationMessages(fieldIdentifier).FirstOrDefault() + "</span></span>";  
    }

    private async void ConnectUser()
    {
        if (TriggerValidation())
        {
            Employe? employe = _context.Employes.FirstOrDefault(e => e.Courriel == logInModel.Username);
            try
            {
                if (employe != null)
                {
                    if (VerifyPassword(logInModel.MotDePasse, employe.MotDePasse))
                    {
                        await ProtectedSessionStore.SetAsync("Email", employe.Courriel);
                        await ProtectedSessionStore.SetAsync("Role", employe.Role);
                        string token = tokenGenerator.GenerateToken($"{employe.Courriel}:{employe.Role}");
                        Usersession usersession = new Usersession
                            {
                                Token = token,
                                OwnerEmail = employe.Courriel,
                                ExpirationDate =
                            DateTime.Now.AddHours(COOKIE_EXPIRATION),
                            Role = employe.Role
                            };
                        _context.Usersessions.Add(usersession);
                        await _context.SaveChangesAsync();

                        await cookie.SetValue("SToken", token, COOKIE_EXPIRATION);

                        NavigationManager.NavigateTo("/recherche", true);
                    }
                    else
                    {
                        logInModel.MotDePasse = "";
                        validationMessageStore.Add(() => logInModel.Username, "Données incorrectes");
                        validationMessageStore.Add(() => logInModel.MotDePasse, "Données incorrectes");
                        await JsRuntime.InvokeVoidAsync("alert", "Mot de passe ou nom d'utilisateur incorrect !");
                    }
                }
                else
                {
                    validationMessageStore.Add(() => logInModel.Username, "Données incorrectes");
                    await JsRuntime.InvokeVoidAsync("alert", "Mot de passe ou nom d'utilisateur incorrect !");

                }
            }
            catch
            {
                await JsRuntime.InvokeVoidAsync("alert", "Une erreur est survenue !");
                NavigationManager.NavigateTo("/");
            }
        }
    }

    static string HashPassword(string input)
    => Convert.ToHexString(SHA1.HashData(Encoding.UTF8.GetBytes(input)));

    public bool VerifyPassword(string password, string hashedPassword)
    {
        string newHash = HashPassword(password);
        return newHash == hashedPassword;
    }


    public class LogInModel
    {
        [Required(ErrorMessage = "Le courriel est requis")]
        [RegularExpression(@"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$", ErrorMessage = "Mauvais format")]
        public string Username { get; set; }

        [Required(ErrorMessage = "Le mot de passe est requis")]
        public string MotDePasse { get; set; }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var result = await ProtectedSessionStore.GetAsync<string>("Email");
                if (result.Success || !string.IsNullOrEmpty(result.Value))
                {
                    Console.WriteLine($"Adresse courriel: {result.Value}");
                    NavigationManager.NavigateTo("/recherche", true);
                }

            }
            catch
            {
                Console.WriteLine($"Erreur lors de la récupération de l'adresse courriel");
            }
        }
    }
}